.background {
	/* background-image: url('./landingBackground.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 100vh;
	margin: 0 auto; */
	width: '100%';
	height: 'auto';
	position: relative;
}
.img_responsive {
	width: 70%;
	height: 70%;
	object-fit: fill;
	position: relative;
	z-index: -2;
}

.text_type {
	z-index: -2;
	position: absolute;
	top: 43%;
	left: 30%;
}

.loader {
	/* display: block; */
	position: absolute;
	top: 35%;
	left: 42%;
}

body {
	background-color: black;
}
@media screen and (max-width: 1024px) {
	.img_responsive {
		height: auto;
		width: 100%;
		object-fit: scale-down;
	}
	.loader {
		display: block;
		position: absolute;
		top: 34%;
		left: 58%;
	}
	.text_type {
		z-index: -2;
		position: absolute;
		top: 45%;
		left: 35%;
		font-size: 15px;
	}
}

@media screen and (min-width: 1025px) {
	.text_type {
		z-index: -2;
		position: absolute;
		top: 49%;
		left: 24%;
		font-size: 15px;
	}
}
