.background {
	background-image: url('./landingBackground.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 100vh;
	margin: 0 auto;
}
.loader {
	display: block;
	position: absolute;
	top: 330px;
	left: 900px;
}
body {
	background-color: black;
}
